<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983289004509-oa4sgmq3mvvhg7h8ksqgs3gij5ohgo9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983289004509-oa4sgmq3mvvhg7h8ksqgs3gij5ohgo9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDVLR5zhi4kMi76Qo4y_bgc9VZm6tA1aLs</string>
	<key>GCM_SENDER_ID</key>
	<string>983289004509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.propertyApp</string>
	<key>PROJECT_ID</key>
	<string>propertyapp-77dc8</string>
	<key>STORAGE_BUCKET</key>
	<string>propertyapp-77dc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983289004509:ios:549d8263320ff4e6413634</string>
</dict>
</plist>