<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58059103944-t3c4vak0geetf91d1b0pdguvaaq0fdrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58059103944-t3c4vak0geetf91d1b0pdguvaaq0fdrr</string>
	<key>API_KEY</key>
	<string>AIzaSyAjye_TWEkgOc-_jdNy4_Ch8DL1J_7V8qo</string>
	<key>GCM_SENDER_ID</key>
	<string>58059103944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.tempo.PropertyApp</string>
	<key>PROJECT_ID</key>
	<string>tempo-property-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tempo-property-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58059103944:ios:f021e02e6fbc9265958ffd</string>
</dict>
</plist>